* {
    
}

.masterflexcontainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.masterflexcontainer > * {
    padding: 20px;
}

.header {
   background-color: rgb(225, 207, 207); 
}

.header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 350px;
    gap: 50px;
}

.recipe {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.recipe div {
    flex: 0 0 300px;
    background-color: antiquewhite;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
}

.recipe-title {
    flex:100%;
    justify-self: center;
}

.footer {
    display: flex;
    flex-direction: row;
    background-color: rgb(225, 207, 207); 
    gap: 40px;
    justify-content: space-between;
}